body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #eeeeee;
}

.active-logo-link img:hover,
.active-logo-link img:focus {
    opacity: 0.8;
}

.active-logo-link img:active {
    opacity: 0.3;
}

.main-navigation {
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.site-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
    color: #fb565a;
}

/*Как сделать, чтобы по нажатию клавиатуры правило тоже срабатывало?*/
.site-navigation a:active,
.user-navigation a:active {
    opacity: 0.3;
    color: #000000;
}

/*Правило, позволяющее убрать выделение на текущей позиции меню при наведении и нажатии. Также добавляет нижнее подчеркивание, если находимся на странице, на которую ведет данный пункт меню */
.site-navigation .site-navigation-current,
.site-navigation .site-navigation-current:hover,
.site-navigation .site-navigation-current:focus,
.site-navigation .site-navigation-current:active,
.user-navigation .user-navigation-current,
.user-navigation .user-navigation-current:hover,
.user-navigation .user-navigation-current:focus,
.user-navigation .user-navigation-current:active
{
    color: #000000;
    opacity: 1;
    padding-bottom: 5px; /* Пока отступ сделан на глаз*/
    border-bottom: 2px solid #fb565a;
}

.slider {
    background-color: #eeeeee;
}

.slider-list {
    list-style: none;
}

.slider-item {
    background-repeat: no-repeat;
    background-position: 431px 18px;
}

.slider-item:nth-child(1) {
    background-image: url(../img/slider1.png);
}

.slider-item:nth-child(2) {
    background-image: url(../img/slider2.png);
}

.slider-item:nth-child(3) {
    background-image: url(../img/slider3.png);
}

.slider-item b {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.btn {
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 3px;
}

.slider-btn {
    color: #ffffff;
    background-color: #fb565a;
}

.slider-btn:hover,
.slider-btn:focus {
    background-color: #e74246;
}

.slider-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slider-indicator ul {
    list-style: none;
}

.services-list {
    list-style: none;
}

.services-item h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.services-item {
    background-repeat: no-repeat;
    background-position: top center;
}

.services-item:nth-child(1) {
    background-image: url(../img/illustration-1.png);  
}

.services-item:nth-child(2) {
    background-image: url(../img/illustration-2.png);  
}

.services-item:nth-child(3) {
    background-image: url(../img/illustration-3.png);  
}

/*Добавил цвет фона, чтобы видеть текст белого цвета*/
.order-btn-web {
    color: #ffffff;
    background-color: #fb565a;
}

.order-btn-web:hover,
.order-btn-web:focus {
    background-color: #e74246;
}

.order-btn-web:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

.order-btn-app {
    color: #ffffff;
    background-color: #00ca74;
}

.order-btn-app:hover,
.order-btn-app:focus {
    background-color: #00bc6c;
}

.order-btn-app:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
}

.order-btn-prs {
    color: #ffffff;
    background-color: #efc84a;
}

.order-btn-prs:hover,
.order-btn-prs:focus {
    background-color: #eab534;
}

.order-btn-prs:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
}

.about-us b {
    color: #000000;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

/*Перепроверить параметры в Фотошопе*/
.about-us p:nth-of-type(3) { 
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
}

.features-list {
    list-style: none;
}

.right-column p {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.about-us p:nth-of-type(4) {
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.principle tr:last-of-type {
    line-height: 18px;
}

.principle tr:first-of-type {
    color: #000000;
    font-size: 45px;
    font-weight: 700;
}

.principle th {
    font-size: 16px;
    font-weight: 400;
    color: #283136;
    line-height: 18px;
}

.clients-list {
    list-style: none;
}

.clients-item img {
    opacity: 0.2;
}

.clients-item img:hover,
.clients-item img:focus {
    opacity: 1;
}

.clients-item img:active {
    opacity: 0.1;
}

.company-name {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.company-address {
    color: #666666;
    line-height: 18px;
}

.company-phone a {
    color: #666666;
    line-height: 18px;
    text-decoration: none;
}

.mail-btn {
    color: #ffffff;
    background-color: #fb565a;
} 

.mail-btn:hover,
.mail-btn:focus {
    background-color: #e74246;
}

.mail-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

.social-btn-list {
    list-style: none;
}

.social-btn-item a {
    color: #000000;
    text-transform: uppercase;
}

.social-discount b {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.social-discount p:last-of-type {
    line-height: 22px;
    color: #444444;
}

.modal-write-us h2 {
    color: #000000;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.modal-write-us label {
    color: #000000;
    font-weight: 700;
    line-height: 18px;
}

.modal-write-us input,
.modal-write-us textarea {
    outline: none;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.5);
    background-color: #ffffff;
    border: 2px solid #d7dcde;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
    border-color: #b4b9bb;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
    border-color: #000000;
    color: rgba(68, 68, 68, 1);
}

.modal-write-us input:invalid,
.modal-write-us textarea:invalid {
    border-color: #e74246;
    color: rgba(231, 66, 70, 1);
}

.modal-btn {
    color: #ffffff;
    background-color: #fb565a;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #e74246;
}

.modal-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

/*Страница с каталогом*/
/*Форма фильтрации*/
.filter fieldset,
.sort fieldset {
    border: none;
}

.filter legend {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.grid-filter-list,
.features-filter-list {
    list-style: none;
}

.price-from,
.price-to {
    text-transform: uppercase;
}

.price-text-min,
.price-text-max {
    background-color: #eeeeee;
    border: none;
    text-align: center;
}

/*Стилизация фильтра сетки и фильтра особенностей*/
.grid-filter-item label,
.features-filter-item label {
    color: rgba(40, 49, 54, 0.5);
    line-height: 20px;
}

.grid-filter-item label:hover,
.features-filter-item label:hover,
.grid-filter-item label:focus,
.features-filter-item label:focus {
    color: rgba(40, 49, 54, 1);
}

.grid-filter-item input[disabled] + span,
.features-filter-item input[disabled] + span {
    color: rgba(40, 49, 54, 0.3);
}

/*Кнопка отправки формы фильтрации*/
.filter-btn {
    color: #000000;
    background-color: #eeeeee;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: #dfdfdf;
}

.filter-btn:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}

/*Стилизация кнопок сортировки*/
.sort-view a,
.sort-order a {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort-view a:hover,
.sort-view a:focus,
.sort-order a:hover, 
.sort-order a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-view a:active,
.sort-order a:active {
    color: rgba(0, 0, 0, 1);
}

.sort b {
    font-size: 18px;
    text-align: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

/*Стилизация карточек шаблонов*/
.templates-list {
    list-style: none;
}

.templates-item h3 {
    text-align: center;
}

.templates-item a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.templates-price p {
    color: #666666;
    line-height: 18px;
    text-align: center;
}

.templates-indicator {
    opacity: 0.1;
}

.template-wrapper:hover .templates-indicator {
    opacity: 1;
}

/*Кнопка покупки шаблона*/
.btn-templates {
    color: #ffffff;
    background-color: #fb565a;
}

.btn-templates:hover,
.btn-templates:focus {
    background-color: #e74246;
}

.btn-templates:active {
    background-color: #d7373b;
}

/*Переключатель страниц шаблонов*/
.pagination-list {
    list-style: none;
}

.pagination-btn {
    color: #000000;
    background-color: #eeeeee;
}

.pagination-btn:hover,
.pagination-btn:focus {
    background-color: #dfdfdf;
}

.pagination-btn:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}

.pagination-current-btn {  
    color: #000000;
    background-color: #ffffff;
}

/*
СТИЛИЗАЦИЯ СЕТКИ ГЛАВНОЙ СТРАНИЦЫ
*/

body {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/*Стилизация шапки*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 1160px;
    
    margin: 0;
    
    padding: 0;
    padding-top: 49px;
    padding-left: 140px;
    padding-right: 140px;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding-left: 3px;
    padding-top: 16px;
}

.site-navigation {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 650px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation {
    position: relative;
    margin: 0;
    
    padding: 0;
    padding-left: 40px;
}

.site-navigation li {
    margin-right: 47px;
}

.user-navigation::before {
    content: "";
    
    position: absolute;
    left: 0px;
    top: 7px;
    
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    height: 15px;
    
    opacity: 0.3;
}

/*СТИЛИЗАЦИЯ ОТДЕЛЬНОГО ЭЛЕМЕНТА*/
.btn {
    padding-top: 16px;
    padding-bottom: 16px;
}

/*СТИЛИЗАЦИЯ ОСНОВНОГО РАЗДЕЛА*/

.container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
}

/*Стилизация слайдеров*/

.slider {
    position: relative;
    width: 1160px;
    padding: 0;
    padding-left: 140px;
    padding-right: 140px;
    margin: 0;
    margin-bottom: 80px;
}

.slider-list {
    margin: 0;
    padding: 0;
    padding-right: 30px;
}

.slider-item {
    display:none;
    width: 1170px;
    margin: 0;
    padding: 0;
    padding-top: 78px;
    padding-bottom: 80px;
}

.slider-item:nth-child(1) {
    display: block;
}

.slider-item p:nth-child(1) {
    max-width: 550px;
    margin: 0;
    margin-bottom: 27px;
}

.slider-item p:nth-child(2) {
    max-width: 450px;
    margin: 0;
    margin-bottom: 38px;
}

.slider-btn {
  display: block;
  width: 240px;
}

.slider-indicator {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 10;
  
    width: 120px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-indicator span {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    
    border-radius: 50%;
    cursor: pointer;
}

.slider-indicator span::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    border-radius: 50%;
}

.slider-indicator .active::before {
    content: "";
    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    
    width: 4px;
    height: 4px;
    margin: -4px;
    
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

/*Стилизация блока услуг*/
.services {
    padding: 0;
    margin: 0;
    margin-bottom: 95px;
}

.services-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-left: 140px;
    padding: 0;
    list-style: none;
}

.services-item { 
    width: 300px;
    margin-right: 100px;
    padding-top: 146px;
}

.services-item h3 {
    margin-bottom: 17px;
}

.services-item p {
    margin: 0;
    padding: 0;
    max-width: 260px;
    margin-bottom: 45px;
}

.order-btn {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/*Стилизация блока О нас*/
.about-us {
    padding: 0;
    padding-top: 75px;
    margin: 0 auto;
    width: 1160px;
    margin-bottom: 75px;
    box-shadow: 0 -2px #eeeeee;
}

.about-us .container-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-column p:nth-child(1) {
    margin: 0;
    padding: 0;
    max-width: 700px;
    margin-bottom: 33px;
}

.left-column p:nth-child(2) {
    margin: 0;
    padding: 0;
    max-width: 650px;
    margin-bottom: 39px;
}

.features-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
} 

.features-item {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    padding-left: 36px;
}

.features-item-1::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    border-bottom: 2px solid #fb565a;
    top: -14px;
    left: 0px;
}

.features-item-2::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    border-bottom: 2px solid #fb565a;
    top: 34px;
    left: 0px;
}

.features-item-3::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    border-bottom: 2px solid #fb565a;
    top: 81px;
    left: 0px;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: -35px;
}

.right-column img {
    width: 360px;
    height: 208px;
    margin-bottom: 35px;
}

.right-column p {
    margin: 0;
    padding: 0;
    padding-right: 15px;
    margin-bottom: 52px;
}

.principle {
    border-collapse: collapse;
    width: 360px;
    text-align: left;
}

.principle td {
    width: 110px;
    padding: 0;
    padding-bottom: 28px;
}

.principle sup {
    font-size: 28px;
}

/*Стилизация блока клиенты*/
.clients {
    padding: 0;
    margin: 0 auto;
    width: 1160px;
    padding-bottom: 38px;

    box-shadow: 
        0 -2px #eeeeee,
        0 2px #eeeeee; 
}

.clients-list {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.clients-item:nth-child(1) {
    margin-right: 96px;
    margin-left: 31px;
    padding-top: 62px;
}

.clients-item:nth-child(2) {
    margin-right: 103px;
    padding-top: 46px;
}

.clients-item:nth-child(3) {
    margin-right: 121px;
    padding-top: 65px;
}

.clients-item:nth-child(4) {
    margin-right: 121px;
    padding-top: 52px;
}

.clients-item:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    top: 65px;
    left: 280px;
}

.clients-item:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    top: 65px;
    left: 580px;
}

.clients-item:nth-child(3)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    top: 65px;
    left: 880px;
}

/*Стилизация футера*/
.main-footer {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.footer-contacts {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 62px;
}

.company-contacts {
    position: absolute;
    top: 55px;
    left: 140px;
    box-sizing: border-box;
    width: 320px;
    min-height: 308px;
    padding: 0;
    margin: 0;
    padding-left: 50px;
    padding-top: 49px;
    background-color: #ffffff;
}

.company-name {
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
}

.company-address {
    padding: 0;
    margin: 0;
    padding-left: 2px;
    margin-bottom: 15px;
}

.company-phone {
    padding: 0;
    margin: 0;
    padding-left: 2px;
    margin-bottom: 33px;
}

.mail-btn {
    padding-left: 45px;
    padding-right: 45px
}

.social-wrapper {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.social-btn {
    width: 340px;
    margin-right: 79px;
}

.social-btn-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.social-btn-list li {
    display: inherit;
    width: 85px;
}

.social-btn-item {
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 79px;
    width: 79px;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-btn-item:hover,
.social-btn-item:focus {
    background-color: #e74246;
}

.social-btn-item:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: rgba(215, 55, 59, 1);
}

.social-vk {
    background-image: url("/img/vk-icon.svg");
}

.social-fb {
    background-image: url("../img/fb-icon.png");
}

.social-in {
    background-image: url("../img/insta-icon.png");
}

.social-discount {
    margin: 0;
    padding: 0;
    width: 578px;
    padding-top: 6px;
}

.social-discount p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    vertical-align: center;
}


/*СЕТКА СТРАНИЦЫ С КАТАЛОГОМ*/

.container-catalog h1 {
    padding: 0;
    margin: 0;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align:center;
    min-height: 163px;
    background-color: #eeeeee;
    padding-top: 79px;
}

.container-catalog {
    margin-bottom: 60px;
}

.catalog-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    width: 260px;
}

.right-column-catalog {
    display: flex;
    flex-direction: column;
    width: 760px;
    padding: 0;
    margin: 0; 
}

.sort-wrapper {
    display: flex;
    width: 760px;
    justify-content: space-between;
}

.sort-view {
    width: 280px;
    margin-left: auto;
}

.sort-order {
    width: 60px;
    margin-left: 20px;
}


/*ФИЛЬТР ПО СЕТКЕ*/
.grid-filter {
    margin: 0;
    padding: 0;
}

.grid-filter legend {
    margin-bottom: 21px;
}

.grid-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-filter-item {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 15px;
}

.grid-filter-item span {
    display: inline-block;
    vertical-align: middle;
}

.grid-filter-item input[type="radio"] + .radio-indicator {
    box-sizing: border-box;
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 4px solid #a6a6a6;
    border-radius: 50%;
    margin-right: 10px;
}

.grid-filter-item input[type="radio"]:checked + .radio-indicator:before {
    content: "";
    position:absolute;
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: #a6a6a6;
    border-radius: 50%;
}

/*ФИЛЬТР ПО ОСОБЕННОСТЯМ*/

.features-filter {
    margin: 0;
    padding: 0;
}

.features-filter legend {
    margin-bottom: 21px;
}

.features-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-filter-item {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 15px;
}

.features-filter-item span {
    display: inline-block;
    vertical-align: middle;
}

.features-filter-item input[type="checkbox"] + .checkbox-indicator {
    box-sizing: border-box;
    display: inline-block;
    height: 23px;
    width: 23px;
    border: 2px solid #a6a6a6;
    border-radius: 15%;
    margin-right: 10px;
}

.features-filter-item input[type="checkbox"] + .checkbox-indicator {
    display: inline-block;
    height: 23px;
    width: 27px;
    background-image: url("/img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 0.4; 
}

.features-filter-item input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url("/img/checkbox-on.svg");
}




.templates-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 25px 0; 
}

.templates-item {
    width: 360px;
    margin-bottom: 35px;
}

.pagination-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    width: 460px;
}

.pagination-list li {
    width: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

