body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #eeeeee;
}

.main-navigation {
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.site-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
    color: #fb565a;
}

/*Как сделать, чтобы по нажатию клавиатуры правило тоже срабатывало?*/
.site-navigation a:active,
.user-navigation a:active {
    opacity: 0.3;
    color: #000000;
}

.slider {
    background-color: #eeeeee;
}

.slider-list {
    list-style: none;
}

.slider-item {
    background-repeat: no-repeat;
    background-position: top right;
}

.slider-item:nth-child(1) {
    background-image: url(../img/slider1.png);
}

.slider-item:nth-child(2) {
    background-image: url(../img/slider2.png);
}

.slider-item:nth-child(3) {
    background-image: url(../img/slider3.png);
}

.slider-item b {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slider-btn {
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    /*  Цвет пока только, чтобы увидеть текст на фоне  */
    color: #ffffff;
    
    background-color: red;
}

.slider-btn:active {
    opacity: 0.3;
}

.services-list {
    list-style: none;
}

.services-item h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.services-item {
    background-repeat: no-repeat;
    background-position: top center;
}

.services-item:nth-child(1) {
    background-image: url(../img/illustration-1.png);  
}

.services-item:nth-child(2) {
    background-image: url(../img/illustration-2.png);  
}

.services-item:nth-child(3) {
    background-image: url(../img/illustration-3.png);  
}

.services-item a {
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}
/*Добавил цвет фона, чтобы видеть текст белого цвета*/
.order-btn-web {
    background-color: #fb565a;
}

.order-btn-app {
    background-color: #00ca74;
}

.order-btn-prs {
    background-color: #efc84a;
}

.orden-btn-web:active {
    opacity: 0.3;
}

.orden-btn-app:active {
    opacity: 0.3;
}

.orden-btn-prs:active {
    opacity: 0.3;
}

.about-us b {
    color: #000000;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

/*Перепроверить параметры в Фотошопе*/
.about-us p:nth-of-type(3) { 
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
}

.features-list {
    list-style: none;
}

.about-us p:nth-of-type(4) {
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.principle tr:last-of-type {
    line-height: 18px;
}

.principle tr:first-of-type {
    color: #000000;
    font-size: 45px;
    font-weight: 700;
}

.principle th {
    color: #283136;
    line-height: 18px;
}

.clients-list {
    list-style: none;
}

.company-name {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.company-address {
    color: #666666;
    line-height: 18px;
}

.company-phone a {
    color: #666666;
    line-height: 18px;
    text-decoration: none;
}

.mail-btn {
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    
    background-color: #fb565a;
} 

.social-btn-list {
    list-style: none;
}

.social-btn-item a {
    color: #000000;
    text-transform: uppercase;
}

.social-discount b {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.social-discount p:last-of-type {
    line-height: 22px;
    color: #444444;
}

.modal-write-us h2 {
    color: #000000;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.modal-write-us label {
    color: #000000;
    font-weight: 700;
    line-height: 18px;
}

.modal-btn {
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
}


/*Страница с каталогом*/
/*Форма фильтрации*/
.filter legend {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.grid-filter-item label {
    color: #283136;
    line-height: 20px;
}

.grid-filter-item label:hover,
.grid-filter-item label:focus {
    color: #000000;
}

.grid-filter-item label:disabled {
    opacity: 0.3;
    color: #283136;
}


.filter button {
    color: #000000;
    font-weight: 500;
    line-height: 18px;
}

.filter button:active {
    opacity: 0.3;
}

.grid-filter-list,
.features-filter-list {
    list-style: none;
}

.features-filter-item label:hover,
.features-filter-item label:focus {
    
}

.features-filter-item label:disabled {
    opacity: 0.3;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.templates-list {
    list-style: none;
}

.templates-item h3 {
    text-align: center;
}

.templates-item a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.templates-price p {
    color: #666666;
    line-height: 18px;
    text-align: center;
}

.templates-price button {
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    color: #000000;
    font-weight: 500;
    line-height: 18px;
}

/*

*/